<div>
    <div id="groupprofile">
        <div>
            <img src="https://scontent.fykz1-1.fna.fbcdn.net/v/t1.0-1/c90.210.540.540/s160x160/19510125_10213767937303246_5095195573619394298_n.jpg?oh=7768b901dcef45df1ccfa57878be3e89&oe=5AC0FE69"
                class="img-responsive img-circle">
        </div>
        <h4 id="group-name">Group Name</h4>
        <div id="user-list">
            <h3 class="list-heading">Group Members</h3>
            <ul class="list-group" id="group-members">
                <li class="list-group-item">Person1</li>
                <li class="list-group-item">Person2</li>
                <li class="list-group-item">Person3</li>
                <li class="list-group-item">Person4</li>
                <li class="list-group-item">Person5</li>
                <li class="list-group-item">Person6</li>
                <li class="list-group-item">Person7</li>
                <li class="list-group-item">Person8</li>
                <li class="list-group-item">Person9</li>
                <li class="list-group-item">Person0</li>
                <li class="list-group-item">Person33</li>
                <li class="list-group-item">Person43</li>
                <li class="list-group-item">Person13</li>
                <li class="list-group-item">Person23</li>
                <li class="list-group-item">Person33</li>
                <li class="list-group-item">Person43</li>
            </ul>
        </div>
        <div id="user-security-settings">
            <h3 class="list-heading">Permission Level</h3>
            <ul class="list-group" id="permission-item">
                <li class="list-group-item">Top Secret</li>
            </ul>
            <h3 class="list-heading">Role(s)</h3>
            <ul class="list-group" id="role-items ">
                <li class="list-group-item">Security</li>
                <li class="list-group-item">Front End</li>
                <li class="list-group-item">Developer</li>
                <li class="list-group-item">Mob Boss</li>
                <li class="list-group-item ">Mob Boss0</li>
                <li class="list-group-item ">Mob Boss1</li>
                <li class="list-group-item ">Mob Boss2</li>
                <li class="list-group-item ">Mob Boss3</li>
                <li class="list-group-item ">Mob Boss4</li>
                <li class="list-group-item ">Mob Boss5</li>
                <li class="list-group-item ">Mob Boss6</li>
                <li class="list-group-item ">Mob Boss7</li>
                <li class="list-group-item ">Mob Boss8</li>
                <li class="list-group-item ">Mob Boss9</li>
            </ul>
        </div>
    </div>
</div>