<div>
    <div>
        <div>
            <a href="#" class="previous round">&#8249;</a>
        </div>
        <div>setting icon</div>
    </div>
    <div id="profile">
        <img src="https://scontent.fxds1-1.fna.fbcdn.net/v/t1.0-9/19510125_10213767937303246_5095195573619394298_n.jpg?oh=755ee6580431b0ddd730bc20ce66a720&oe=5AC742E2"
            class="img-responsive img-circle">
        <h4>Lava Tahir</h4>
        <p>lavatahir@gmail.com</p>

        <div id="user-security-settings">
            <h3 class="list-heading">Permission Level</h3>
            <ul class="list-group">
                <li class="list-group-item">Top Secret</li>
            </ul>
            <h3 class="list-heading">Role(s)</h3>
            <ul class="list-group">
                <li class="list-group-item">Security</li>
                <li class="list-group-item">Front End</li>
                <li class="list-group-item">Developer</li>
                <li class="list-group-item">Mob Boss</li>
            </ul>
        </div>
        <div class="btn-box">
            <button type="submit" class="btn btn-submit">Log out</button>
        </div>
    </div>
</div>