<div class="form-group content-area sample-show-hide">
    <form autocomplete="on">
        <h1 id="formHeader">Sign up</h1>
        <div class="group">
            <input id="firstName" type="text" required="required" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>First Name</label>
        </div>
        <div class="group">
            <input id="lastName" type="text" required="required" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Last Name</label>
        </div>
        <div class="group">
            <input id="email" type="email" required="required" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
        </div>
        <div class="group">
            <input id="passwordsignup" type="password" required="required" ng-model="password1" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
        </div>
        <div class="group">
            <input id="passwordsignup_confirm" type="password" required="required" ng-model="password2" ng-pattern="password1" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Confirm Password</label>
        </div>
        <!-- <span data-ng-show="myForm.password2.$error.match">Emails have to match!</span> -->
        <span ng-show="register.password2.$error.pattern">Repeat Password should have the same value with email!</span>


        <div class="btn-box">
            <button type="submit" class="btn btn-submit">Sign up</button>
        </div>
    </form>
</div>