.chat .chat-wrapper .message-list-wrapper .message-list {
    padding: 0;
}
.chat .chat-wrapper .message-list-wrapper .message-list li {
    display: block;
    padding: 20px 10px;
    clear: both;
    position: relative;
    color: white;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .avatar {
    margin-right: 12px;
    display: block;
    float: left;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .avatar img {
    width: 60px;
    height: auto;
    border: 2px solid transparent;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .avatar.available img {
    border-color: #2ecc71;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .avatar.busy img {
    border-color: #ff530d;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .username {
    float: left;
    display: none;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .timestamp {
    text-align: left;
    display: block;
    color: #999;
    font-size: 11px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 4px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .timestamp i {
    margin-right: 4px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .body {
    display: block;
    float: left;
    position: relative;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .body .message {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    width: auto;
    background: #2ecc71;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .body .message:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #2ecc71 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -8px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .body .message a.white {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.left .body .message img {
    max-width: 320px;
    max-height: 320px;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .avatar {
    margin-left: 12px;
    display: block;
    float: right;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .avatar img {
    width: 60px;
    height: auto;
    border: 2px solid transparent;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .avatar.available img {
    border-color: #2ecc71;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .avatar.busy img {
    border-color: #ff530d;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .username {
    float: right;
    display: none;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .timestamp {
    text-align: right;
    display: block;
    color: #999;
    font-size: 11px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 4px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .timestamp i {
    margin-right: 4px;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .body {
    display: block;
    width: 87%;
    float: right;
    position: relative;
    text-align: right;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .body .message {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    width: auto;
    background: #3498db;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .body .message:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #3498db transparent transparent;
    right: 0;
    top: 10px;
    margin-right: -7px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .body .message a.white {
    color: white;
    font-weight: bold;
}
.chat .chat-wrapper .message-list-wrapper .message-list li.right .body .message img {
    max-width: 320px;
    max-height: 320px;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .chat .chat-wrapper .message-list-wrapper .message-list li.left .avatar {
        display: none;
    }
    .chat .chat-wrapper .message-list-wrapper .message-list li.left .username {
        display: inline-block;
        margin-right: 10px;
        font-size: 11px;
        color: #999;
    }
    .chat .chat-wrapper .message-list-wrapper .message-list li.left .body {
        width: 100%;
    }
    .chat .chat-wrapper .message-list-wrapper .message-list li.right .avatar {
        display: none;
    }
    .chat .chat-wrapper .message-list-wrapper .message-list li.right .username {
        display: inline-block;
        margin-left: 10px;
        font-size: 11px;
        color: #999;
    }
    .chat .chat-wrapper .message-list-wrapper .message-list li.right .timestamp {
        text-align: right;
        display: block;
        color: #999;
        font-size: 11px;
        line-height: 18px;
        font-style: italic;
        margin-bottom: 4px;
    }
    .chat .chat-wrapper .message-list-wrapper .message-list li.right .timestamp i {
        margin-right: 4px;
    }
    .chat .chat-wrapper .message-list-wrapper .message-list li.right .body {
        width: 100%;
    }
    .chat .chat-wrapper .recipient-box {
        margin-top: 30px;
    }

}
.hoverable {
    cursor: pointer;
}
