<div class="recipient-box">
        <img src="{{selectedChat.avatarUrl}}" alt="avatar" class="img-circle hoverable" style="width:25px" ng-click="clickProfile()">
        <span class="recipient-username hoverable" ng-click="clickProfile()">{{selectedChat.displayName}}</span>
    <a href="javascript:void(0);" class="pull-right"><i class="fa fa-search"></i></a>
</div>


<div>
    <div class="message-list-wrapper" id="chat-scroll">
        <ul class="message-list">
            <li class="text-center">
                <a href="javascript:void(0);" class="btn btn-default"><i class="fa fa-spinner"></i> Load More Messages</a>
            </li>

            <li ng-class="currentUser.userID !== message.senderId ? 'left' : 'right'" ng-repeat="message in messages track by message.messageId">
                <span class="username">{{getDisplayName(message.senderId).displayName}}</span>
                <small class="timestamp">
                    <i class="fa fa-clock-o"></i>{{getTime(message.timestamp)}}
                </small>
                <span class="avatar available tooltips" data-toggle="tooltip " data-placement="right"
                      data-original-title="{{getSenderDisplayName(message.senderId)}}">
                    <img ng-src="{{getSenderAvatar(message.senderId)}}"
                         alt="{{getSenderDisplayName(message.senderId)}}" class="img-circle">
                </span>
                <div class="body">
                    <div>
                        <div class="message well well-sm">
                            {{message.body}}
                            <p ng-show="content.imgSrc">
                                <img ng-src="{{content.imgSrc}}" alt="">
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<link type="text/css" rel="stylesheet" href="directives/chat-message/chat-message.css"/>
