<table id="{{name}}" datatable="ng" class="display" cellspacing="0" width="100%">
    <button class="tableaddbutton" data-toggle="modal" data-target="#{{modalname}}">
        {{buttonname}} <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <thead>
    <tr>
        <th ng-repeat="header in headers">{{header}}</th>
        <th style="text-align: right; width: 10%">Action(s)</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-cloak ng-if="!ismanage" ng-repeat="row in data">
            <td>{{row.name}}</td>
            <td>
                <button class="colorbox" style="background-color: {{row.color}};" ng-disabled="true"></button>
            </td>
            <td style="text-align: right">
                <button ng-click="modify(row)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button ng-click="change(row)"><i class="fa fa-trash red" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr ng-cloak ng-if="ismanage" ng-repeat="row in data">
            <td ng-if="row.name">{{row.name}}</td>
            <td ng-if="row.username">{{row.username}}</td>
            <td ng-if="row.firstName">{{row.firstName}}</td>
            <td ng-if="row.lastName">{{row.lastName}}</td>
            <td ng-if="row.numOfPermissions > -1">{{row.numOfPermissions}}</td>
            <td ng-if="row.permission">{{row.permission.name}}</td>
            <td>{{row.numOfRoles}}</td>
            <td ng-if="row.numOfUsers>-1">{{row.numOfUsers}}</td>
            <td ng-if="row.numOfGroups>-1">{{row.numOfGroups}}</td>
            <td ng-if="row.loginRole">{{row.loginRole}}</td>

            <td style="text-align: right">
                <button ng-click="modify(row)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <button ng-click="change(row)">
                    <i class="fa fa-trash red" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<link type="text/css" rel="stylesheet" href="directives/secp-table/secp-table.css"/>
