@media (max-width: 767px) {
.chat .chat-wrapper .chat-list-wrapper {
    border: 1px solid #ddd;
    height: 250px;
    overflow-y: auto;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list {
    padding: 0;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li {
    display: block;
    padding: 20px 10px;
    clear: both;
    border-bottom: 1px solid #ddd;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .avatar {
    display: none;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header {
    margin-top: 4px;
    margin-bottom: 4px;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header .username {
    font-weight: bold;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header .timestamp {
    float: right;
    color: #999;
    font-size: 11px;
    line-height: 18px;
    font-style: italic;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .body .header .timestamp i {
    margin-right: 4px;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li .body p {
    display: none;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li.active {
    color: black;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li.active .body .timestamp {
    color: black;
}
.chat .chat-wrapper .chat-list-wrapper .chat-list li.new {

}
.chat .chat-wrapper .chat-list-wrapper .chat-list li.new .body .timestamp {

}
}

@media screen and (max-width: 991px) {
    div.slimScrollDiv, div.chat-list-wrapper {
        height: 250px;
    }
}
