<div class="slimScrollDiv">
    <div class="chat-list-wrapper">
        <ul class="chat-list">
            <li ng-class="{active : activeContact === contact}" ng-repeat="contact in contacts track by contact.groupID"
                ng-click="setActive(contact)">
                <span ng-class="['avatar', '{{contact.status}}']">
                    <img ng-src="{{contact.avatarUrl}}" alt="{{contact.displayName}}" class="img-circle">
                </span>
                <div class="body">
                    <div class="header">
                        <span class="username">{{contact.displayName}}</span>
                        <small class="timestamp text-muted">
                            <i class="fa fa-clock-o"></i>{{getTime(contact.lastMessage.timestamp)}}
                        </small>
                    </div>
                    <p>
                        {{contact.lastMessage.body}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<link type="text/css" rel="stylesheet" href="directives/chat-list/chat-list.css"/>

