<body>
<h1 class="portalheader">
    <i class="fa fa-group" aria-hidden="true"></i>
     Audit Group
</h1>
<form name="groupaudit">
    <div class="audituserlabel"><label>Group:</label></div>
    <div class="auditgroupinput">
        <select select2 class="audit-group-select" style="width: 100%" ng-model="audit.groups" name="group" multiple
                ng-options='g as g.name for g in groups'>
        </select>
    </div>

    <div class="auditbtn-box">
        <button type="submit" class="auditbtn btn-submit" ng-click="validateGroupAudit()">Audit</button>
    </div>

</form>
</body>
