@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
}
 .navbar-inverse {
  background-color: #ffffff;
  border-color: #dddddd;
}
.navbar-inverse .navbar-brand {
  color: #333333;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
  color: #333333;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-nav > li > a {
  margin: 12.5px 6px;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-nav > li > a:hover {
  border: 1px solid #ddd;
}
.navbar-brand {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  line-height: 1.9;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.red{
    color:red;
}

.pageheader{
    font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: #2196F3;
    margin-bottom: 1em;
}

.linkoption{
    font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    border-radius: 25px;
    border: 1px solid #2196F3;
    padding: 20px;
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
}

.linkoption:hover {
    background-color: #2196F3;
    color: white;
}

.note
{
    color: black;
    border: solid 1px #33c600;
    background-color: #94f37c;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 14px 20px;
}
