.bs-example{
    margin: 20px;
}
.panel-title .glyphicon{
    font-size: 14px;
}

.noteHowTo{
    margin-top: 20px;
}

.portalheader{
    font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: #2196F3;
    margin-bottom: 1em;
}

iframe {
    display:block;
    margin:auto;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-0zr0{background-color:#dddddd;color:#333333;vertical-align:top}
.tg .tg-5794{background-color:#dddddd;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-7bjz{background-color:#dddddd}
.tg .tg-yw4l{vertical-align:top}
