@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
#groupprofile{
    margin-bottom: 50px;
    text-align: center;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#group-name, .list-heading{
    font-size: 30px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#groupprofile img{
    margin: 0 auto;
    border: 7px solid #fff;
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
#user-security-settings, #user-list {
    text-align: left;
}
.list-group{
    height: 200px;
    overflow: auto;
}
