h1{
    font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: #2196F3;
    margin-bottom: 1em;
}

.adminoption{
    font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    border-radius: 25px;
    border: 1px solid #2196F3;
    padding: 20px;
    margin-bottom: 10px;
}

.adminoption:hover {
    background-color: #2196F3;
    color: white;
}

a:visited{
    color: inherit;
}

a:hover {
    text-decoration: none;
}
