<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div id="mastdiv" class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1>SECP</h1>
                    <h3 id="introblurb">Mitigate corporate espionage within your organization via secure communication channels and user auditing capabilities.</h3>
                    <a href="/login" ng-cloak ng-show="!isAuthenticated" class="btn btn-outline btn-xl js-scroll-trigger">Login</a>
                    <a href="/register" ng-cloak ng-show="!isAuthenticated" class="btn btn-outline btn-xl js-scroll-trigger">Register</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>More Than Just Another Chat App</h2>
            <p class="text-muted">Check out what we can do for your organization!</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4 my-auto">
                <div class="device-container">
                    <div class="device-mockup galaxy_s5 portrait black">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, we can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="img/home/demo-screen-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                <!-- We can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="feature-item">
                                <i class="icon-key text-primary"></i>
                                <h3>Control</h3>
                                <p class="text-muted">Administrators are able to manage user access and visibility through toggling permission and roles.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature-item">
                                <i class="icon-graph text-primary"></i>
                                <h3>Audit</h3>
                                <p class="text-muted">Ability to audit and review user activity.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature-item">
                                <i class="icon-eye text-primary"></i>
                                <h3>Visibility</h3>
                                <p class="text-muted">Users see what they need to see.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-lock text-primary"></i>
                                <h3>Security</h3>
                                <p class="text-muted">Muli-layered security to secure your companies information.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>Mobile</h3>
                                <p class="text-muted">We're not only on desktop, but mobile too.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Stop waiting.<br>Join the platform now.</h2>
            <a href="mailto:secpcarleton@gmail.com?Subject=We'd%20Like%20To%20Know%20More" class="btn btn-outline btn-xl js-scroll-trigger">Contact Us</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section class="contact bg-primary" id="contact">
    <div class="container">
        <h2>We
            <i class="fa fa-heart"></i>
            new friends!
        </h2>
        <ul class="list-inline list-social">
            <li class="list-inline-item social-twitter">
                <a href="https://twitter.com/secpcarleton">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item social-github">
                <a href="https://github.com/tosinoni/SECP">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li class="list-inline-item social-android">
                <a href="https://play.google.com/store?hl=en">
                    <i class="fa fa-android"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
<footer>
    <div class="container">
        <p>&copy; 2017 Carleton University. All Rights Reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="/">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="/">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="/">FAQ</a>
            </li>
        </ul>
    </div>
</footer>
