<body>
<h1 class="portalheader">
    <a href="/portal/audit"><i id="backbutton" class="fa fa-chevron-circle-left goback" aria-hidden="true"></i></a>
    <i class="fa fa-user" aria-hidden="true"></i>
     Audit Individual
</h1>
<form name="useraudit">
    <div class="audituserlabel"><label>From:</label></div>
    <div class="audituserinput">
        <select class="audit-user-select" style="width: 100%" name="username">
            <option value="">Select</option>
            <option value="username1">Ali Farah</option>
            <option value="username2">Lava Tahir</option>
            <option value="username3">Mohamed Dahrouj</option>
            <option value="username4">Tosin Oni</option>
            <option value="username5">Vincent Vu</option>
        </select>
    </div>
    <br>
    <div class="audituserlabel"><label>To:</label></div>
    <div class="audituserinput">
        <select class="audit-user-select" style="width: 100%" name="receiver">
            <option value="all" selected="selected">Everyone</option>
            <option value="username1">Ali Farah</option>
            <option value="username2">Lava Tahir</option>
            <option value="username3">Mohamed Dahrouj</option>
            <option value="username4">Tosin Oni</option>
            <option value="username5">Vincent Vu</option>
        </select>
    </div>

    <div ng-controller="UserAuditAdvancedSearch">
        <div class="advancedsearchdiv">
            <button class="advancedsearchbutton" ng-click="isCollapsed = !isCollapsed">Advanced Search</button>
        </div>
        <div collapse="isCollapsed">
            <hr>
            <div class="well well-lg">
                <p>From:</p>
                <i class="fa fa-calendar" aria-hidden="true"></i> <input class="dateinput" name = "fromdate" type="datetime-local">
                <br>
                <br>
                <p>To:</p>
                <i class="fa fa-calendar" aria-hidden="true"></i> <input class="dateinput" name = "todate" type="datetime-local">
            </div>
        </div>
    </div>

    <div class="btn-box">
        <button type="submit" class="btn btn-submit" ng-click="validateUserAudit()">Audit</button>
    </div>

</form>
</body>
