<body>
<h1 class="portalheader"><i class="fa fa-tags" aria-hidden="true"></i> Tags</h1>
<p class="note"><strong>Note:</strong> Add and delete permission levels and user roles by clicking below.</p>
<div>
    <br>
    <p class="tag-option" ng-click="permissionClick()"><a class="configureoption"><span class="optionicon" id="optionicon1">+</span><i class="fa fa-low-vision" aria-hidden="true"></i> Permission Levels</a></p>
    <hr id="optionline1">
    <br>
    <p class="tag-option" ng-click="rolesClick()"><a class="configureoption"><span class="optionicon" id="optionicon2">+</span><i class="fa fa-id-card-o" aria-hidden="true"></i> Roles</a></p>
    <hr id="optionline2">
</div>
<div id="permissionTableDiv">
    <secp-table name="permissionTable" modalname="permissionModal" buttonname="New Permission Level"
                data="permissions" headers="permissionHeaders" delete-fn="deletePermission(row)" edit-fn="editPermissionModalFn(row)"></secp-table>
</div>

<div id="rolesTableDiv">
    <secp-table name="rolesTable" modalname="roleModal" buttonname="New Role"
                data="roles" headers="roleHeaders" delete-fn="deleteRole(row)" edit-fn="editRoleModalFn(row)"></secp-table>
</div>

<!-- New Permission Level Modal -->
<secp-modal name="permissionModal" frmName="newpermissionform" title="New Permission" data="newPermissionObj"
            body="Permssion Level" save-fn="savePermission(data)"></secp-modal>

<!-- Edit Permission Level Modal -->
<secp-modal name="editPermissionModal" frmName="editpermissionform" title="Edit Permission" data="editPermissionObj"
            body="Permssion Level" save-fn="editPermission(data)" disable-input="true"></secp-modal>

<!-- New Role Modal -->
<secp-modal name="roleModal" frmName="newroleform" title="New Role" data="newRoleObj"
            body="Role" save-fn="saveRole(data)"></secp-modal>

<!-- Edit Role Modal -->
<secp-modal name="editRoleModal" frmName="editroleform" title="Edit Role" data="editRoleObj"
            body="Role" save-fn="editRole(data)" disable-input="true"></secp-modal>
</body>
