<body>
<h1 class="portalheader"><i class="fa fa-tags" aria-hidden="true"></i> Tags</h1>
<p class="note"><strong>Note:</strong> Add and delete permission levels and user roles by clicking below.</p>
<div>
    <br>
    <p class="tag-option"><a class="configureoption" ng-click="permissionClick()"><span class="optionicon" id="optionicon1">+</span><i class="fa fa-low-vision" aria-hidden="true"></i> Permission Levels</a></p>
    <hr id="optionline1">
    <br>
    <p class="tag-option"><a class="configureoption" ng-click="rolesClick()"><span class="optionicon" id="optionicon2">+</span><i class="fa fa-id-card-o" aria-hidden="true"></i> Roles</a></p>
    <hr id="optionline2">
</div>
<div id="permissionTableDiv">
    <secp-table name="permissionTable" modalname="permissionModal" buttonname="New Permission Level"
                data="permissions" headers="permissionHeaders" delete-fn="deletePermission(row)"></secp-table>
</div>

<div id="rolesTableDiv">
    <secp-table name="rolesTable" modalname="roleModal" buttonname="New Role"
                data="roles" headers="roleHeaders" delete-fn="deleteRole(row)"></secp-table>
</div>

<!-- Permission Level Modal -->
<secp-modal ng-model="permissionInput" name="permissionModal" frmName="newpermissionform" title="New Permission"
            body="Permssion Level" save-fn="savePermission()"></secp-modal>
<!-- Role Modal -->
<secp-modal ng-model="roleInput" name="roleModal" frmName="newroleform" title="New Role"
            body="Role" save-fn="saveRole()"></secp-modal>
</body>
