<body>
<h1 class="portalheader">
    <i class="fa fa-user" aria-hidden="true"></i>
    Manage User
</h1>

<secp-table name="userTable" modalname="registerModal" ismanage=true buttonname="Register User"
            data="users" headers="userHeaders" delete-fn="deleteUser(row)" edit-fn="editUserModalFn(row)"></secp-table>
</body>

<!-- Create User Modal -->
<secp-register-modal save-fn="register(user)"></secp-register-modal>

<!--Edit User modal-->
<secp-manage-modal name="editUserModal" frmname="editUserForm" title="Edit User"
                   modal-data="editUserData" save-fn="submitModifyUser(row)"></secp-manage-modal>
