<body>
<h1 class="portalheader">Admin Portal</h1>
<div>
    <a href="/chats"><p class="adminoption"><i class="fa fa-comments-o" aria-hidden="true"></i> Chat</p></a>
    <a href="/portal/audit"><p class="adminoption"><i class="fa fa-eye" aria-hidden="true"></i> Audit</p></a>
    <a href="/portal/manage"><p class="adminoption"><i class="fa fa-cogs" aria-hidden="true"></i> Manage</p></a>
    <a href="/portal/configure"><p class="adminoption"><i class="fa fa-wrench" aria-hidden="true"></i> Configure</p></a>
</div>
</body>
