<body>
<h1 class="portalheader">Admin Portal</h1>
<div>
    <a href="/chats"><p class="adminoption"><i class="fa fa-comments-o" aria-hidden="true"></i> Chat</p></a>
    <a href="/portal/audit"><p class="adminoption"><i class="fa fa-eye" aria-hidden="true"></i> Audit</p></a>
    <a href="/portal/register"><p class="adminoption"><i class="fa fa-plus-circle" aria-hidden="true"></i> Register</p></a>
    <a href="/portal/modify"><p class="adminoption"><i class="fa fa-pencil" aria-hidden="true"></i> Modify</p></a>
</div>
</body>
