<body>
<h1 class="portalheader">Admin Portal</h1>
<div>
    <a href="/chats"><p class="adminoption"><i class="fa fa-comments-o" aria-hidden="true"></i> Chat</p></a>
    <a href="/portal/audit"><p class="adminoption"><i class="fa fa-eye" aria-hidden="true"></i> Audit</p></a>
    <a href="/portal"><p class="adminoption"><i class="fa fa-user" aria-hidden="true"></i> Manage Users</p></a>
    <a href="/portal"><p class="adminoption"><i class="fa fa-group" aria-hidden="true"></i> Manage Groups</p></a>
</div>
</body>
