<h1 class="portalheader"><i class="fa fa-lock" aria-hidden="true"></i> Change Password</h1>
<div class="form-group content-area sample-show-hide">
    <form name="frm" autocomplete="off" novalidate ng-submit="register()">
        <div class="group">
            <input id="currentPassword" type="password" name="currentPassword" ng-model="user.password" required="required" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Current Password</label>
        </div>
        <div class="group">
            <input ng-model="change.newPassword" type="password" ng-minlength="6" ng-maxlength="20" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,20}$/"
                required name="password" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="error" ng-show="frm.password.$dirty && frm.password.$invalid">Password must be between 6 to 20 characters, and must contain an uppercase and lowercase letter and a number.
                <br>
            </span>
            <label>New Password</label>
        </div>
        <div class="group">
            <input ng-model="password_conf" type="password" required password-confirmation name="password_conf"
            />
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="error" ng-show="frm.password_conf.$error.noMatch">Passwords do not match.</span>
            <label>Confirm New Password</label>
        </div>
        <div class="btn-box">
            <button type="submit" class="btn btn-submit" ng-disabled="frm.$invalid">Change Password</button>
        </div>
    </form>
</div>