<div class="container">
    <h1 class="portalheader"><i class="fa fa-lock" aria-hidden="true"></i> Forgot Password</h1>
    <div class="form-group">
        <form autocomplete="on" novalidate name="emailForm">
            <div>
                <p>You Can Reset Your Password Here.</p>
            </div>
            <div class="group">
                <input type="email" required ng-model="user.email" name="email" />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="btn-box">
                <button type="submit" class="btn btn-submit" ng-disabled="emailForm.$invalid" ng-click="sendEmail()">Send Email</button>
            </div>
        </form>
    </div>
</div>