<div class="animated fadeInRight" id="groupProfileModal">

        <i class="fa fa-pencil hoverable" ng-click="editProfile()"></i>
        <div id="groupprofile">
            <div>
                <img src="{{group.avatarUrl}}" class="img-responsive img-circle">
            </div>
            <h4 id="group-name">{{group.displayName}}</h4>
            <div id="user-list">
                <h3 class="profile-list-heading">Group Members</h3>
                <ul class="profile-list-group" id="group-members">
                    <li class="profile-list-group-item" ng-repeat="user in group.users">{{user.displayName}}</li>
                </ul>
            </div>
            <div id="user-security-settings">
                <h3 class="profile-list-heading">Permission Level</h3>
                <ul class="profile-list-group" id="permission-item">
                    <li class="profile-list-group-item" ng-repeat="permission in group.permissions">{{permission.name}}</li>
                </ul>
                <h3 class="profile-list-heading">Role(s)</h3>
                <ul class="profile-list-group" id="role-items ">
                    <li class="profile-list-group-item" ng-repeat="role in group.roles">{{role.name}}</li>
                </ul>
            </div>
        </div>
</div>

<link type="text/css" rel="stylesheet" href="directives/profiles/group-profile.css"/>
