<div class="container-fluid">

    <div class="form-group">
        <form autocomplete="on" novalidate ng-submit="login()">
            <h1 id="formHeader">Log in</h1>

            <div class="group">
                <input type="text" required  ng-model="user.username" name="username" />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Username</label>
            </div>
            <div class="group">
                <input type="password" required ng-model="user.password" name="password"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>

            <div class="btn-box">
                <button type="submit" class="btn btn-submit" ng-disabled="frm.$invalid">Log in</button>
            </div>

        </form>
    </div>
</div>
