.slimScrollStyle {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 452px;
}

.msgListWrapperStyle {
    position: absolute;
    top:0px; bottom: 0px;
    overflow-y: auto;
}

.slimScrollBarStyle {
   width: 7px;
   position: absolute;
   top: 265px;
   opacity: 0.4;
   display: none;
   border-radius: 7px;
   z-index: 99;
   right: 1px;
   height: 187.092px;
   background: rgb(0, 0, 0);
}

.slimScrollRail {
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    border-radius: 7px;
    opacity: 0.2;
    z-index: 90;
    right: 1px;
    background: rgb(51, 51, 51);
}
